.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg);
    height: calc(100vh - 60px);

    // h1 {
    //     font-size: xx-large;
    //     color: var(--color-golden);
    //     font-family: var(--font-base);
    // }
}
