.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;

    // h1 {
    //     font-size: xx-large;
    //     color: var(--color-golden);
    //     font-family: var(--font-base);
    // }
}
