.gallery {
    width: 100%;
    min-height: 100vh;
    background: var(--color-bg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 4rem;

    .info {
        width: 50%;

        h3 {
            color: var(--color-white);
            font-family: var(--font-cormorant);
            font-size: 2rem;
            margin-bottom: 1rem;

            @media screen and (max-width: 900px) {
                font-size: 1.5rem;
                text-align: center;
            }
        }
        h1 {
            font-size: 6rem;
            color: var(--color-golden);
            line-height: 80px;
            font-family: var(--font-cormorant);

            @media screen and (max-width: 900px) {
                font-size: 3rem;
                line-height: 50px;
                text-align: center;
            }
        }
        p {
            width: 70%;
            margin-top: 1rem;
            color: var(--color-grey);
            font-family: var(--font-alt);
            font-size: 18px;

            @media screen and (max-width: 900px) {
                font-size: 14px;
                width: 100%;
                text-align: center;
            }
        }
        button {
            margin-top: 2rem;
            padding: 0.7rem 2rem;
            border-radius: 0.5rem;
            background-color: var(--color-golden);
            color: var(--color-black);
            font-size: 20px;
            font-family: var(--font-alt);
            font-weight: 600;
            outline: none;
            border: 1px solid var(--color-golden);

            display: flex;
            align-items: center;
            gap: 1rem;
            cursor: pointer;

            @media screen and (max-width: 900px) {
                padding: 0.4rem 1rem;
                font-size: 16px;
                margin: 2rem auto;
            }
        }
        @media screen and (max-width: 900px) {
            padding: 0.4rem 1rem;
            width: 100%;
            text-align: center;
        }
    }

    .image {
        width: 50%;
        height: 80%;

        .slider_img {
            position: relative;
            min-width: 330px;
            height: 447px;
            margin-right: 2rem;
            transition: 0.5s ease;

            img {
                border-radius: 5px;
            }

            &:hover {
                opacity: 0.35;

                .icon {
                    opacity: 1;
                }
            }

            .icon {
                position: absolute;
                top: 50%;
                right: 45%;
                opacity: 0;
                color: #fff;
                font-size: 2rem;
                transition: 0.5s ease;
                cursor: pointer;
            }
        }

        @media screen and (max-width: 900px) {
            width: 100%;
            height: 100%;
        }
    }

    @media screen and (max-width: 900px) {
        flex-direction: column;
        padding: 2rem 1rem;
    }
}
